{
    "printWidth": 120,
    "semi": false,
    "singleQuote": true,
    "trailingComma": "all",
    "arrowParens": "always",
    "quoteProps": "consistent",
    "bracketSpacing": true,
    "useTabs": true
}